//* CONVERT SCSS SECTION  *//

.convert-section{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .title-convert-desktop{
        font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
        font-weight: 700 !important;
        font-size: 45px;
        width: 500px;
        text-align: center;
    }
    .button-convert-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;


        button{
            border: none;
            font-size: 14.70px;
            border-style: none;
            width: 135px;
            height: 55px;
            cursor: pointer;
            margin-right: 23px;
            line-height: 27px;
            
        }
        .button-convert1{
            font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif;
            background: transparent;
            border-color:  rgba(255, 255, 255, 1);
            border: solid 2px rgba(255, 255, 255, 1);
            color: rgb(0, 0, 0);
            transition: all .15s ease-in-out;
            border-radius: 30px;
            font-weight: 700;
        }
        .button-convert2{
            font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif;
            background-color: rgb(0, 0, 0) ;
            border: solid 2px rgba(255, 255, 255, 1);
            color: rgb(255, 255, 255) !important;
            transition: all .15s ease-in-out;
            border-radius: 30px;
            font-weight: 700;

        }
        .button1:hover {
            box-shadow: 0px 0px 20px -8px #eaeaea;
            color: rgb(0, 0, 0) !important;
        }
        .button2:hover {
            background: linear-gradient(97.63deg, #76EA90 0%, #FDFD55 100.18%);
            box-shadow: 0px 0px 15px #76EA90;
            color: rgb(5, 5, 5) !important;
            font-weight: 700;
        }
    }

    .contact-box{
        padding: 70px 150px;
        width: 100%;
        background: #D9D9D9;
        box-shadow: 10px 32px 72px rgba(15, 13, 35, 0.04);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;  
        margin-top: 62px;   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        background: linear-gradient(90.57deg, #76EA90 0%, #FDFD55 100%);

        .counter-convert-box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-self: center;

            .convert-box1{
                width: 306px;
                border-radius: 30px;
                background-color: black;
                height: 147px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-self: center;

                p{
                    color: rgba(255, 255, 255, 1);
                    font-weight: 400;
                    font-family: 'HelveticaNeue', sans-serif !important;
                    font-size: 20px;
                }
                h2{
                    font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                    font-weight: 700 !important;
                    font-size: 41.32px;
                    color: transparent;
                    background: url("img/letter-big.png");
                    background-repeat: repeat;
                    background-size: cover;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 10px;
                }
            }
            .convert-box1-center{
                width: 306px;
                border-radius: 30px;
                background-color: black;
                margin-left: 70px;
                margin-right: 70px;
                height: 147px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-self: center;


                
                p{
                    color: rgba(255, 255, 255, 1);
                    font-weight: 400;
                    font-family: 'HelveticaNeue', sans-serif !important;
                    font-size: 20px;
                }
                h2{
                    font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                    font-weight: 700 !important;
                    font-size: 41.32px;
                    color: transparent;
                    background: url("img/letter-big.png");
                    background-repeat: repeat;
                    background-size: cover;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.convert-section2{
    display: none;
}

@media(max-width:1080px){
    .convert-section .contact-box .counter-convert-box {
        display: flex;
        flex-direction: column;
    }
    .convert-section .contact-box .counter-convert-box .convert-box1-center{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
}

@media(max-width:520px){
    .convert-section .title-convert-desktop {
        font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
        font-weight: 700 !important;
        font-size: 40px;
        width: 100% !important;
        text-align: center !important;
    }
    .convert-section .contact-box{
        padding: 70px 50px;
    }
}



//* CONVERT SCSS SECTION FOR MOBILE  *//

@media(max-width:450px){

.convert-section{
    display: none;
}
.counter-section2{
    display: block;
}
.convert-section2{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;


    .contact-box2{
        width: 100%;
        margin-top: 62px;   
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: auto;

        .left-texts2{
            max-width: 1000px;

            .counter-convert-box2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
                margin-bottom: 50px;

                .convert-box2{
                    color: rgb(255, 255, 255);
                    position: relative;
                    padding: 0px 30px;
                    width: 306px;
                    height: 147px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    h2{
                        font-weight: 700 !important;
                        font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                        color: transparent;     
                        background: url("img/letter-big.png") ;
                        background-repeat: repeat ;
                        background-size: cover;
                        -webkit-background-clip: text; 
                        -webkit-text-fill-color: transparent;
                        font-size: 41.3194px !important;
                        margin-bottom: 5px;
                    }
                    p{
                        font-weight: 400 !important;
                        font-size: 20.07px;
                    }
                    span{
                        font-weight: 700 !important;
                        font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                        color: transparent;     
                        background: url("img/letter-big.png") ;
                        background-repeat: repeat ;
                        background-size: cover;
                        -webkit-background-clip: text; 
                        -webkit-text-fill-color: transparent;
                        font-size: 41.3194px !important;
                    }
                }
                
                .convert-box-center2{
                    color: rgb(255, 255, 255);
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 0px 30px;
                    width: 306px;
                    height: 147px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;

                    h2{
                        font-weight: 700 !important;
                        font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                        color: transparent;     
                        background: url("img/letter-big.png") ;
                        background-repeat: repeat ;
                        background-size: cover;
                        -webkit-background-clip: text; 
                        -webkit-text-fill-color: transparent;
                        font-size: 41.3194px !important;
                        margin-bottom: 5px;
                        
                    }
                    p{
                        font-weight: 400 !important;
                        font-size: 20.07px;
                    }
                    span{
                        font-weight: 700 !important;
                        font-size: 41.3194px !important;
                    }
                }
            }

            
            h1{
                font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                font-size: 35px;
                text-align: center;   
                margin-bottom: 50px;     
                font-weight: 700 !important;
                font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                color: transparent;     
                background: url("img/letter-big.png") ;
                background-repeat: repeat ;
                background-size: cover;
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent;
            }
            
        }

        .right-texts2{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 80px;

            .white-paper2{

                h2{
                    margin-bottom: 20px;
                    font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                    font-size: 35px;
                    text-align: center;   
                    margin-bottom: 40px;     
                    font-weight: 700 !important;
                    font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                    color: transparent;     
                    background: url("img/letter-big.png") ;
                    background-repeat: repeat ;
                    background-size: cover;
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color: transparent;
                }
                
                .white-p{
                    font-weight: 500;
                    font-size: 14px;
                    color: rgb(255, 255, 255) ;
                    font-family: 'HelveticaNeue', sans-serif !important;
                    
                }
                
                button{
                    font-weight: 500;
                    font-size: 15px;
                    border-style: none;
                    width: 231px;
                    height: 56px;
                    cursor: pointer;   
                }
                .white-btn{
                    background: rgb(0, 0, 0) ;
                    color: rgb(255, 255, 255) !important;
                    border-radius: 30px;
                    font-weight: 600;
                    margin-top: 50px;
                    position: relative;

                    p{
                        text-align: center;
                        
                    }
                }
            }
        }
    }
}


.convert-box2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 19px; 
    padding: 3px; 
    background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%);            
    -webkit-mask: 
       linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
       linear-gradient(rgb(0, 0, 0) 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

  .convert-box-center2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 19px; 
    padding: 3px; 
    background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%);            
    -webkit-mask: 
       linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
       linear-gradient(rgb(0, 0, 0) 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

  .white-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px; 
    padding: 3px; 
    background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%);            
    -webkit-mask: 
       linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
       linear-gradient(rgb(0, 0, 0) 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
   }
}

@media(max-width:378px){
    .convert-section2{
        padding: 0px 10px !important;
    }
}

@media(max-width:360){
    .convert-section2{
        padding: 0px 50px;
        
            .right-texts2{

                .white-paper2{
                    width: 100% !important;
                    
                    .white-p{
                        width: 100% !important;
                    }
                }
            }
    }
}
@media (max-width: 355px){
    .left-texts2{
        h1{
            font-size: 30px !important;
        }
    }


    .right-texts2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 80px;

        .white-paper2{
            font-family: 'Darker Grotesque', sans-serif !important;

            h2{
                font-size: 30px !important;
            }
        }
    }
}
