//* COUNTER SCSS SECTION  *//

.count{
    background: linear-gradient(90.57deg, #76EA90 0%, #FDFD55 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 665px;

    .count-container{
        display: flex;
        flex-direction: row;
        

        .count-box{
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column;
            text-align: center;
            width: 250px;
            height: 170px;
            font-family: 'Poppins', sans-serif !important;


            h2{
                margin-bottom: 5px;
                font-size: 41.32px;
                color: rgb(0, 0, 0);
                text-align: left;
                font-weight: 500;

            }
            p{
                color: rgb(0, 0, 0);
                text-align: left;
                font-size: 20.07px;
                font-weight: 400 !important;
            }
            span{
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }
        }
    }
}



@media(max-width:1800px){
    .count{
        padding-right: 490px;
    
        .count-container{
            
            .count-box{
                width: 250px;
                height: 140px;
                font-family: 'Poppins', sans-serif !important;
    
    
                h2{

                    font-size: 30px;
                    font-weight: 500;
    
                }
                p{
                    font-weight: 400;
                }
    
            }
        }
    }
    
    
}

@media(max-width: 1450px){
    .count{
        background: linear-gradient(90.57deg, #76EA90 0%, #FDFD55 100%);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding-right: 0px;
    
        .count-container{
            display: flex;
            flex-direction: row;
    
            .count-box{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 250px;
                height: 91px;
    
                h2{
                    margin-bottom: 5px;
                    font-size: 30px;
                    color: rgb(0, 0, 0);
                }
                p{
                    color: rgb(0, 0, 0);
                }
    
            }
        }
    }
    
}



@media (max-width: 805px){
    .count-container{

        .count-box{
            width: 200px !important;
            height: 91px;

            h2{
                margin-bottom: 5px;
                font-size: 25px !important;
                color: rgb(0, 0, 0);
            }
            p{
                color: rgb(0, 0, 0);
                font-size: 14px !important;
            }
        }
    }
}

@media (max-width: 565px){
    .count-container{

        .count-box{
            width: 160px !important;
            height: 91px;

            h2{
                margin-bottom: 5px;
                font-size: 20px !important;
                color: rgb(0, 0, 0);
            }
            p{
                color: rgb(0, 0, 0);
                font-size: 14px !important;
            }
        }
    }
}

@media (max-width: 565px){
    .count-container{
        padding: 0px 50px;

        .count-box{
            width: 130px !important;
            height: 91px;

            h2{
                margin-bottom: 5px;
                font-size: 20px !important;
                color: rgb(0, 0, 0);
            }
            p{
                color: rgb(0, 0, 0);
                font-size: 12px !important;
            }
        }
    }
}


@media(max-width:450px){
    .count{
        margin-top: -150px;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
    }
    .count-container{
        display: flex;
        flex-direction: column !important;
        height: 500px;
        margin-top: 150px;
        margin-bottom: 20px;

        .count-box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column !important;
            width: 300px !important;
            height: 480px !important;
            background-color: #000000;
            text-align: left !important;
            margin-bottom: 25px;
            border-radius: 30px;
            position: relative !important;
            overflow-wrap: break-word !important;
            word-wrap    : break-word !important;
            word-break: break-all !important;
            overflow-wrap: break-all !important;



            .counter-number{
                text-align: left;

                h2{
                    font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                    font-weight: 700 !important;
                    font-size: 41.3194px !important;
                    color: transparent;     
                    background: url("img/letter-big.png") ;
                    background-repeat: repeat ;
                    background-size: cover;
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 0px !important;
                    span{
                        font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                        font-weight: 700 !important;
                        font-size: 41.3194px !important;
                    }
                }
       
                p{
                    font-size: 20.0694px !important;                    
                    font-weight: 400 !important;
                    font-family: 'HelveticaNeue', sans-serif !important;
                    color: rgba(255, 255, 255, 1) !important;
                }
            }
        }
    }
}


@media (max-width: 355px){

    .count-container{

        .count-box{
            width: 280px !important;
            height: 150px !important;
            margin-bottom: 10px;
            border-radius: 30px;
            .counter-number{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center !important;

                h2{
                    font-size: 30px !important;

                    span{
                        font-size: 30px !important;
    
                    }
                }
            }
            p{
                font-size: 14px !important;
            }
        }
    }
}

