
// FAQS QUESTION SECTION SCSS //
// General

.faq-section {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 60px;  
}


.tab-label{
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  margin-right: 50px;
  margin-bottom: -35px;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}
.tab {
  width: 1100px;
  color: rgba(0, 0, 0, 1);
  font-size: 32.53px;
  font-weight: 500 !important;
  font-family: 'Space Grotesk', sans-serif !important;

  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: transparent;
    cursor: pointer;

    &::after {
      content: "+";
      font-size: 35px;
      font-weight: 200;
      width: 1em;
      height: 1.2em;
      text-align: center;
      transition: all .35s;
      color: #000000;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: rgb(255, 255, 255);
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    color: #A2A9B0;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.question1{
    border-bottom: 1px solid rgba(0, 0, 0, 1) !important;
    position: relative;
}
.question1::before{
  content: "";
  position: absolute;
  background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%);            
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}


// :checked
input:checked {
  + .tab-label {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    &::after {
      transform: rotate(45deg);
      color: rgb(255, 255, 255);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    margin-left: 40px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    border-bottom: 0px !important;

  }
}


@media(max-width:1800px){
  /* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}
.tab {
  width: 1000px;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-weight: 500 !important;
  font-family: 'Space Grotesk', sans-serif !important;

  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: transparent;
    cursor: pointer;

    &::after {
      content: "+";
      font-size: 35px;
      font-weight: 200;
      width: 1em;
      height: 1.2em;
      text-align: center;
      transition: all .35s;
      color: #000000;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: rgb(255, 255, 255);
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    color: #A2A9B0;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.question1{
    border-bottom: 1px solid rgba(0, 0, 0, 1) !important;
    position: relative;
}
.question1::before{
  content: "";
  position: absolute;
  background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%);            
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}


// :checked
input:checked {
  + .tab-label {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    &::after {
      transform: rotate(45deg);
      color: rgb(255, 255, 255);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    margin-left: 40px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-bottom: 0px !important;

  }
}
}

@media(max-width:1400px){

.faq-section {
  padding: 0;
  margin-left: 0px;
}
}

@media(max-width:1000px){
  .row {
    display:flex;
    margin-right: 40px;
    margin-bottom: -25px;
  }
  .tab {
    width: 600px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px !important;
    &-label {
  
      &::after {
        content: "+";
        font-size: 20px !important;
      }
    }
  }
  .faqs-container{
    width:750px;
    padding: 50px 200px !important;
  }
  
}

@media(max-width:800px){

  .row {
    display:flex;
    margin-right: 20px;
    margin-bottom: -40px;
  }

  .tab{
    width: 400px !important;
  }
  .tab-label{
    padding: 10px 0px 10px 10px;
  }
  .tab-label::after {
    width: 2em;
}
.faqs-container{
  width:550px;
}
// :checked
input:checked {
  + .tab-label {
    &::after {
      transform: rotate(45deg);
      color: rgb(255, 255, 255);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    margin-left: 0px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-bottom: 0px !important;

  }
}


}


@media(max-width:520px){
    .tab{
      width: 300px !important;
      font-size: 14px !important;
    }

    .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .faqs-container{
      width:400px;
    }
    .tab {
      width: 550px;
      font-size: 15px !important;
      &-label {
    
        &::after {
          content: "+";
          font-size: 15px !important;
        }
      }
    }input:checked {
      + .tab-label {
        &::after {
          transform: rotate(45deg);
          color: rgb(255, 255, 255);
        }
      }
      ~ .tab-content {
        font-size: 11px !important;

      }
    }
  }

  @media(max-width:470px){
    .row {
      margin-bottom: -40px;
    }
    .tab {
      width: 270px;
      font-size: 14px !important;
      &-label {
    
        &::after {
          content: "+";
          font-size: 14px !important;
        }
      }
    }
  }

  @media(max-width:415px){
    .row {
      margin-bottom: -45px;
    }
    .tab {
      width: 270px !important;
      font-size: 12px !important;
      &-label {
    
        &::after {
          content: "+";
          font-size: 12px !important;
        }
      }
    }
    .faqs-container{
      width: auto !important;
      height: auto;
    }
    
  }
