.box-features{
      box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
        padding: 0 20px;
        width: calc(33% - 20px);
        background: transparent;
        backdrop-filter: blur(5px);
        width: 310px;
        height: 386px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: rgb(255, 255, 255) !important;
        cursor: pointer;
        margin-top: 20px;

        h2{
          color: rgb(255, 255, 255);
          font-size: 25px !important;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }

.faqs-section{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding-top: 100px !important;
    padding: 108px 200px 72px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--primary-color);

    .faqs-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    .title-faq{
      color: rgb(255, 255, 255);
      font-size: 60px;
        width: 600px;
        margin-bottom: 100px;
        margin-right: 500px;
        display: flex;
        justify-content: left;
        align-items: left;
        text-align:left;
        font-family: 'futura-bold', sans-serif;
    }
    
    .faqs-info{
        display: flex;

        .selections{
            display: flex;
            flex-direction: column;

            h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                width: 250px;
                display: flex;
                color: rgb(255, 255, 255);
                cursor: pointer;

            }
            h1:hover{
              transform: scale(1.1);
              color: transparent;     
              background: url("img/letter-color.png");
              background-repeat: repeat;
              -webkit-background-clip: text; 
              -webkit-text-fill-color: transparent;            
            }
            h2{

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: #868C9B;
                margin-top: 10px;
            }
            h2:hover{
              transform: scale(1.1);
              color: transparent;     
              background: url("img/letter-color.png");
              background-repeat: repeat;
              -webkit-background-clip: text; 
              -webkit-text-fill-color: transparent;
            }
            button{
              border: none;
              font-size: 18px;
              border-style: none;
              width: 160px;
              height: 49px;
              cursor: pointer;
              line-height: 27px;
              color: rgb(255, 255, 255);
            }
          .join-now{
              background-color: transparent;
              border: 2px solid #76EA90;
              border-radius: 50px;
              font-weight: 600;
              margin-top: 20px;
          }
          .join-now:hover{
            background: linear-gradient(101.41deg, #76EA90 0%, #FDFD55 100%);
            border: transparent;
          }

        }

        .vertical-line{
            margin-left: 28px;
        }

        .frequently-asked-questions{
            margin-left: 28px;

            h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                color: var(--secondary-color);
            }
            h2{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 60px;
                color: #FFFFFF;                
            }
            p{
                width: 584px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
            }

            #new-p{
              display: none;
            }

            span{
              color: var(--secondary-color);
              font-weight: 700;
              cursor: pointer;
            }
        }
    }
  }
   


@media (max-width: 1425px){
  .faqs-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px px 0px;

    .faqs-info{
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .title-faq{
        width: 100% !important;
        text-align: center ;
    
        .selections{
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;

          h1{
            text-align: center;
            width: 1000px !important;
          }
          h2{
            text-align: center;
          }
        }
      }
    }
  }
  .faqs-section .title-faq{
    text-align: center;
  }
  .faqs-section .faqs-info .selections h2{
    text-align: center !important;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .faqs-section .faqs-info .selections h1{
    text-align: center !important;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .faqs-section .faqs-info .selections{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-faq{
    font-size: 50px;
    width: 100% !important;
    margin-bottom: 100px;
    margin-right: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
  }
}

@media (max-width: 1020px){
  .title-faq{
    font-size: 40px !important;
  }
}


@media (max-width: 888px){
  .faqs-section{
    padding: 108px 40px 72px 40px;

    .faqs-info{
      .selections{
        h2{
          min-width: 105px;
        }
      }
    }

    .faqs{
      margin-top: 45px;
      padding-left: 0px;
    }
  }
}

@media (max-width: 800px){
  .faqs-section{
    padding: 108px 40px 72px 40px;

    .faqs-info{

      .vertical-line{
        margin-left: 28px;

        img{
          height: 100%;
        }
      }
    }
  }
}

@media (max-width:500px){
  .faqs-section{
    padding: 108px 20px 72px 20px;

    .faqs-info{

      .vertical-line{
        margin-left: 28px;
  
        img{
          height: 100%;
        }
      }
    }
  }

  .question span{
    font-size: 16px;
    line-height: 23px;
  }
  .question1 span{
    font-size: 16px;
    line-height: 23px;
  }

  .faqs-section .faqs .question p{
    font-size: 14px;
  }
  .title-faq{
    font-size: 30px !important;
    width: 100%;
  }
}

@media (max-width:410px){
  .faqs-section{
    padding: 108px 20px 72px 20px;

    .faqs-info{

      .selections{
        h1{
          font-size: 16px;
          line-height: 30px;
        }

        h2{
          font-size: 16px;
          line-height: 20px;
          min-width: 100%;
          margin-top: 10px;
          text-align: center;
        }
      }

      .vertical-line{
        margin-left: 14px;
  
        img{
          height: 100%;
        }
      }
    }
  }

  .question span{
    font-size: 16px;
    line-height: 23px;
  }
  .question1 span{
    font-size: 16px;
    line-height: 23px;
    text-align: left;
  }

  .faqs-section .faqs .question p{
    font-size: 14px;
  }
  .title-faq{
    font-size: 25px !important;
    width: 90% !important;
  }
}










