
.faqs-section{
  width: 100%;
  height: auto;
}

.faq-section{
    width: 100%;
    margin: 0 auto;
}

.faqs-container{
  width: 1425px;
  padding: 50px 100px;
  height: auto;
  border-radius: 20px;
  background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%);            
}

@media(max-width:1800px){
  .faqs-container{
    width: 1250px;
    padding: 50px 100px;
    height: auto;
  }
  
  .title-faq{
    font-size: 60px;
    width: 600px;

  }
}

.faqs-section{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding-top: 100px !important;
    padding: 108px 200px 72px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .faqs-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    .title-faq{
        font-size: 70px;
        width: 700px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        font-family: 'futura-bold', sans-serif;
        color: transparent;     
        background: url("img/letter-color.png");
        background-repeat: repeat;
        background-size: cover;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    
    .faqs-info{
        display: flex;

        .selections{
            display: flex;
            flex-direction: column;

            h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                width: 250px;
                display: flex;
                color: rgba(0, 0, 0, 1);
                cursor: pointer;

            }
            h1:hover{
              transform: scale(1.1);
              color: rgb(118, 118, 118);          
            }
            h2{
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: rgba(0, 0, 0, 1);
                margin-top: 10px;
            }
            h2:hover{
              transform: scale(1.1);
              color: rgb(118, 118, 118);

            }
            button{
              border: none;
              font-size: 18px;
              border-style: none;
              width: 160px;
              height: 49px;
              cursor: pointer;
              line-height: 27px;
            }
          .join-now{
              background-color: transparent;
              border: 2px solid #000000;
              border-radius: 50px;
              font-weight: 600;
              margin-top: 20px;
              color: rgb(0, 0, 0);

          }
          .join-now:hover{
            background: rgb(0, 0, 0);
            border: transparent;
          }

        }

        .vertical-line{
            margin-left: 28px;
        }

        .frequently-asked-questions{
            margin-left: 28px;

            h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                color: rgba(0, 0, 0, 1);
              }
            h2{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 60px;
                color: rgba(0, 0, 0, 1);
            }
            p{
                width: 584px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: rgba(0, 0, 0, 1);
            }

            #new-p{
              display: none;
            }

            span{
              color: rgba(0, 0, 0, 1);
              font-weight: 700;
              cursor: pointer;
            }
        }
    }
  }
   


@media (max-width: 1425px){
  .faqs-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px px 0px;

    .faqs-info{
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .title-faq{
        width: 100% !important;
        text-align: center ;
    
        .selections{
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;

          h1{
            text-align: center;
            width: 1000px !important;
          }
          h2{
            text-align: center;
          }
        }
      }
    }
  }
  .faqs-section .title-faq{
    text-align: center;
  }
  .faqs-section .faqs-info .selections h2{
    text-align: center !important;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .faqs-section .faqs-info .selections h1{
    text-align: center !important;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .faqs-section .faqs-info .selections{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-faq{
    font-size: 50px;
    width: 100% !important;
    margin-bottom: 100px;
    margin-right: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
  }
}

@media (max-width: 1020px){
  .title-faq{
    font-size: 40px !important;
  }
}


@media (max-width: 888px){
  .faqs-section{
    padding: 108px 40px 72px 40px;

    .faqs-info{
      .selections{
        h2{
          min-width: 105px;
        }
      }
    }

    .faqs{
      margin-top: 45px;
      padding-left: 0px;
    }
  }
}

@media (max-width: 800px){
  .faqs-section{
    padding: 108px 40px 72px 40px;

    .faqs-info{

      .vertical-line{
        margin-left: 28px;

        img{
          height: 100%;
        }
      }
    }
  }
}

@media (max-width:500px){
  .faqs-section{
    padding: 108px 20px 72px 20px;

    .faqs-info{

      .vertical-line{
        margin-left: 28px;
  
        img{
          height: 100%;
        }
      }
    }
    .title-faq{
      margin-bottom: 70px;
    }
  }

  .question span{
    font-size: 16px;
    line-height: 23px;
  }
  .question1 span{
    font-size: 16px;
    line-height: 23px;
  }

  .faqs-section .faqs .question p{
    font-size: 14px;
  }
  .title-faq{
    font-size: 30px !important;
    width: 100%;
  }
}

@media (max-width:410px){
  .faqs-section{

    .faqs-info{

      .selections{
        h1{
          font-size: 16px;
          line-height: 30px;
        }

        h2{
          font-size: 16px;
          line-height: 20px;
          min-width: 100%;
          margin-top: 10px;
          text-align: center;
        }
      }

      .vertical-line{
        margin-left: 14px;
  
        img{
          height: 100%;
        }
      }
    }
  }

  .question span{
    font-size: 16px;
    line-height: 23px;
  }
  .question1 span{
    font-size: 16px;
    line-height: 23px;
    text-align: left;
  }

  .faqs-section .faqs .question p{
    font-size: 14px;
  }
  .title-faq{
    font-size: 25px !important;
    width: 90% !important;
  }
}










