//* FOOTER SCSS SECTION  *//

footer{
    color: rgba(255, 255, 255, 1);
    background: rgba(4, 4, 4, 1);
    padding: 50px;
    font-family: 'Darker Grotesque', sans-serif !important;

}


.footer-bottom{
    background: rgb(87, 87, 87);
    padding: 20px !important;
    text-align: center !important;

    p{
        font-size: 20px;
        font-weight: 550 !important;
    }
}

.footer2{
    display: none;
}

@media(max-width:1800px){
    .footer-container{
        padding: 0px 50px !important;
    }
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 95px;


    .left-footer {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
            img{
                width: 130px !important;
            }
    }
    .middle-footer{
        display: flex;
        text-align: justify;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 576px;
        width: 100%;
        height: auto;
        color: rgba(255, 255, 255, 1);

        h1{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
            font-weight: 800;
        }


        .terms{
            display: flex;
            flex-direction: row;
            a{
                text-decoration: none;
                color: rgba(255, 255, 255, 1);

            }

            p{
                font-size: 18px;
                font-weight: 500;

            }

            .terms-service{
                margin-left: 25px;
                margin-right: 25px;
            }
        }


    }

    .right-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;

        .twit{
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    .middle-footer2{
        display: none;
    }
    

}


@media(max-width:1350px){
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 50px;

        .left-footer {
            margin-bottom: 50px;
            margin-top: 20px;

            img{
                width: 90px !important;
            }
        }
    }
    .middle-footer2{
        display: block !important;
    }
    .middle-footer2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgba(255, 255, 255, 1);

        h1{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 30px;
            font-weight: 800;
        }


        .terms{
            display: flex;
            flex-direction: row;

            a{
                text-decoration: none;
                color: rgba(255, 255, 255, 1);
            }

            p{
                font-size: 18px;
                font-weight: 500;

            }

            .terms-service{
                margin-left: 35px;
                margin-right: 35px;
            }
        }
    }
    .middle-footer{
        display: none !important;
    }
    .right-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        margin-top: -10px;

        .twit{
            margin-left: 20px !important;
            margin-right: 20px !important;
        }
    }
}



@media(max-width:750px){
    
    footer{
        padding: 20px;
    }
    .footer-container{
        padding: 0px 20px !important;
    
        .left-footer {

            img{
                width: 100px !important;
            }
        }

        .middle-footer2{
    
            h1{
                font-size: 25px !important;
                margin-bottom: 10px;
                margin-top: 30px;
            }
    
    
            .terms{
                display: flex;
                flex-direction: row;
    
                a{
                    text-decoration: none;
                    color: rgba(255, 255, 255, 1);
                }
    
                p{
                    font-size: 14px;
                    font-weight: 500;
    
                }
    
                .terms-service{
                    margin-left: 22px;
                    margin-right: 22px;
                }
            }
        }

    }
}

@media(max-width:500px){
    .right-footer{
        img{
            width: 25px;
        }
    }
    .footer-bottom{
    
        p{
            font-size: 15px !important;
        }
    }
}

@media(max-width:450px){
    .footer1{
        display: none !important;
    }
    .footer-bottom{
        display: none !important;
    }
    .footer2{
        display: block;
    }
    
    .footer2{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        margin-bottom: 70px;


        .footer-container2{
            display: flex;
            justify-content: center;
            flex-direction: column;


            .title-footer2{
                font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif;
                font-weight: 700;
                font-size: 18.9553px;      
                text-align: left !important;
                color: #ffffff;
            }

    
                .button-convert-container{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    margin-top: 31px;
                    margin-bottom: 30px;
    
                    button{
                        border: none;
                        font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif;
                        font-weight: 700;
                        font-size: 14.2165px;
                        border-style: none;
                        width: 137.43px;
                        height: 55.92px;
                        cursor: pointer;
                        line-height: 27px;
                        margin-top: 10px
                        
                    }
                    .button-convert1{
                        background: rgb(0, 0, 0) ;
                        color: rgb(255, 255, 255) !important;
                        font-weight: 600;
                        margin-right: 20px;
                        margin-left: 10px;
                        position: relative;

                        p{
                            font-weight: 700 !important;
                            font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
                            color: transparent;     
                            background: url("img/letter-big.png") ;
                            background-repeat: repeat ;
                            background-size: cover;
                            -webkit-background-clip: text; 
                            -webkit-text-fill-color: transparent;
                        }

                    }
                    .button-convert2{
                        background: transparent;
                        border-color:  rgba(255, 255, 255, 1);
                        border: solid 2px rgba(255, 255, 255, 1);
                        color: rgb(255, 255, 255);
                        transition: all .15s ease-in-out;
                        border-radius: 30px;
                        font-weight: 600;
    
                    }
                    .button1:hover {
                        box-shadow: 0px 0px 20px -8px #eaeaea;
                        color: rgb(0, 0, 0) !important;
                    }
                    .button2:hover {
                        background: linear-gradient(97.63deg, #76EA90 0%, #FDFD55 100.18%);
                        box-shadow: 0px 0px 15px #76EA90;
                        color: rgb(5, 5, 5) !important;
                    }
                }
                .legal-footer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: rgba(255, 255, 255, 1);
                    font-family: 'Darker Grotesque', sans-serif !important;

    
                    .terms2{
                        display: flex;
                        flex-direction: row;
            
                        a{
                            text-decoration: none;
                            color: rgba(255, 255, 255, 1);
                        }
            
                        p{
                            font-weight: 500;
                            font-size: 17.4469px;
            
                        }
            
                        .terms-service2{
                            margin-left: 35px;
                            margin-right: 35px;
                        }
                    }
                }
                .bottom-footer2{
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: 70px;
                    font-family: 'Darker Grotesque', sans-serif !important;

    
                    p{
                        color: rgba(255, 255, 255, 1);
                        letter-spacing: -0.04em;
                    }
                }
            }
    }
}

.button-convert1::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 2px; 
    background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%) !important;            
    -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0) !important;
    -webkit-mask-composite: xor !important;
            mask-composite: exclude !important; 
}

@media(max-width:355px){
    .footer2{
        padding: 0px 20px;


        .footer-container2{

            .title-footer2{
                font-size: 14px !important;      
            }
        }
    }
    .footer2 .footer-container2 .legal-footer .terms2 .terms-service2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .button-convert-container{
        display: flex;
        justify-content: center;
        flex-direction: row;

        button{
            border: none;
            font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif;
            font-weight: 700;
            font-size: 14.2165px;
            border-style: none;
            width: 120px !important;
            height: 50px !important;
            cursor: pointer;
            line-height: 27px;
            margin-top: 10px
            
        }
    }
}