@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Red+Hat+Text:wght@700&display=swap');

.home-section{
    width: 100%;
    height: 850px;
    background-image: url("img/bg-stark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;

    .left-side{
        margin: 0;
        max-width: 565px;
        margin-top: 100px;
        margin-right: 350px;

        h1{
            font-family: 'futura-bold', sans-serif;
            font-weight: 500;
            width: 670.76px;
            font-size: 92px;
            color: var(--primary-color);
        }

        span{
            font-family: 'futura-bold', sans-serif;
            font-weight: 500;
            font-size: 90px;
            color: transparent;     
            background: url("img/letter-color.png");
            background-repeat: repeat;
            background-size: cover;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        }
        span{
            display: block;
            height: auto;
            color: #000000;
            animation: spin_words 6s infinite;
        }
        .scroller {
            height: 1.2em;
            line-height: 1.2em;
            width: 100%;
            position: relative;
            overflow: hidden;
          }
          .scroller > span {
            position: absolute;
            top: 0;
            animation: slide 7s infinite;            
          }
          @keyframes slide {
            0% {
              top: 0;
            }
            25% {
              top: -1.2em;
            }
            50% {
              top: -2.4em;
            }
            75% {
              top: -3.6em;
            }
            95%{
                top: 0em;
            }
          }


        .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;

            button{
                border: none;
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                border-style: none;
                width: 170px;
                height: 59px;
                cursor: pointer;
                margin-right: 23px;
                line-height: 27px;
                
            }
            .button1{
                background: linear-gradient(97.63deg, #76EA90 0%, #FDFD55 100.18%);
                box-shadow: 0px 0px 15px #76EA90;
                border-radius: 5.60983px;
                color: rgb(0, 0, 0) !important;
                font-weight: 600;
            }
            .button2{
                background-color: transparent;
                color: var(--primary-color) !important;
                transition: all .15s ease-in-out;
                border-radius: 5.60983px;
                font-weight: 600;

            }
            .button1:hover {
                box-shadow: 0px 0px 20px -8px #eaeaea;
                color: rgb(0, 0, 0) !important;
            }
            .button2:hover {
                background: linear-gradient(97.63deg, #76EA90 0%, #FDFD55 100.18%);
                box-shadow: 0px 0px 15px #76EA90;
                color: rgb(5, 5, 5) !important;
            }
        }
    }


    .iphone-mockup{
        width: 340.55px;
        height: 700px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -320px;

       
        video{
            position: absolute;
            
            // height: 98%;
            // width: 95%;
            height: 684.56px;
            width: 322.39px;
            background-color: rgb(0, 0, 0);
            border-radius: 70px;
            object-fit: cover;
         
        }

        .iphone14{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .call{
            position: absolute;
            top: 10px;
            width: 100%;
        }
        
    }
}


@media(max-width: 1450px){
    .home-section{
        height: auto !important;
        padding: 100px 0px;
    
        .left-side{
            margin: 0;
            max-width: 565px;
            margin-top: -50px;
            margin-right: 200px !important;

        }
    
        .iphone-mockup{
            width: 295.55px !important;
            height: 592px !important;
            margin-bottom: 0px !important;

    
            video{
                height: 582.56px !important;
                width: 282.39px !important;
                border-radius: 62px;

            }
        }
    }
}


@media(max-width: 1250px){
    .home-section{
        .left-side{
            width: 100%;
            h1,span{
                font-size: 90px;
            }

            p{
                font-size: 20px;
            }

        }        
    }
    h1{
        img{
            width: 70px;
        }
    }

}

@media(max-width: 1400px){
    .home-section{
        .left-side{
            width: 100%;
            h1,span{
                font-size: 80px;
            }
        }        
    }
}


@media(max-width: 1040px){
    .home-section{
        flex-direction: column;
        padding-bottom: 130px;
        padding-top: 130px;
        

        .left-side{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 0px!important;
            margin-bottom: 100px !important;
            margin-top: 20px !important;

            h1{
                text-align: center;
                width: 100%;
                    img{
                        width: 65px;
                    }
            }
            h1,span{
                font-size: 70px !important;
            }

            p{
                font-size: 18px;
                line-height: 25px;
                text-align: center;
            }
        }

        .right-side{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 60px;

        }
    }
}

@media (max-width:700px){
    .home-section{
        padding-bottom: 60px;
    }
}

@media(max-width:565px){
    .home-section{
        padding-left: 50px !important; 
        padding-right: 50px !important;
        
        .left-side{
            h1,span{
                font-size: 35px !important;
                width: 100%;
            }
            h1{
                text-align: center;
                width: 80%;
                    img{
                        width: 40px;
                    }
            }

            p{
                font-size: 12px;
                line-height: 17px;
                text-align: center;
            }

            .buttons{
                margin-top: 40px;
    
                button{
                    font-size: 15px;
                    border-style: none;
                    width: 120px;
                    height: 50px;
                    margin-right: 10px;
                    
                }
            }
        }
    }
}





@media (max-width: 377px){
    .home-section{
        padding-left: 20px !important; 
        padding-right: 20px !important;

        .left-side{
            width: 100%;
            h1,span{
                font-size: 35px !important;
            }
        }
        
        .buttons{

            button{
                font-size: 14px !important;
                border-style: none;
                width: 105px !important;
                height: 45px !important;                
            }
        }
    }
}

@media (max-width: 415px){
    .left-side{
        padding: 10px 10px;
        h1{
            font-size: 47px !important;
            width: 100% !important;
                img{
                    width: 40px;
                }
            }
        }
}

@media (max-width: 340px){
    .home-section .left-side h1, .home-section .left-side span {
        font-size: 30px !important;

        img{
            width: 30px;
        }
    }

}