.roadmap {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    padding-top: 90px !important;
    margin-bottom: 50px;

    .roadmap-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .title-roadmap{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        h1{
            font-family: 'futura-bold', sans-serif;
            font-size: 70px;
            color: transparent;     
            background: url("img/letter-big.png");
            background-size: cover;
            background-repeat: repeat;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
        }
        p{
            font-size: 59px;
            margin-bottom: 1px;
        }
    }

      .roadmap-box-container{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 100%;
      }

    .roadmap-box{
        padding: 0 50px;
        margin: 65px 60px;
        width: calc(33% - 20px);
        background: transparent;
        backdrop-filter: blur(5px);
        width: 655px;
        height: 265px;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
        color: #fff;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 10px;

        .line-box1{
            position: absolute;
            top: 257px;
            right: -46px;
            height: 37.5px;
        }
        .line-box2{
            position: absolute;
            top: 257.5px;
            right: 648.5px;
        }
        .line-box3{
            position: absolute;
            top: -28px;
            right: -46px;
        }
        .line-box4{
            position: absolute;
            top: -28px;
            right: 648.5px;
        }

        h2{
            font-size: 33.1px !important;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            margin-bottom: 20px;
            color: transparent;     
            background: url("img/letter-big.png");
            background-size: cover;
            background-repeat: repeat;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: var(--primary-color);
        }
    }
}

.roadmap-box::before {
    content: "";
    position: absolute;
    inset: 0 !important;
    border-radius: 19px; 
    padding: 3px; 
    background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%) !important;            
    -webkit-mask: 
       linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
       linear-gradient(rgb(0, 0, 0) 0 0) !important;
    -webkit-mask-composite: xor !important;
            mask-composite: exclude !important; 
  }

.roadmap-box:hover {
    color: rgb(0, 0, 0) !important;
    background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%) !important;       

    p{
        color: rgb(0, 0, 0);
    }
    h2{
        color: transparent;     
        background: rgb(0, 0, 0);
        background-repeat: repeat;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }
}





@media(max-width:1800px){
    .roadmap {
        display: flex;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        padding-top: 90px !important;
        margin-bottom: 50px;
    
        .roadmap-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .title-roadmap{
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            
            h1{
                font-family: 'futura-bold', sans-serif;
                font-size: 60px;
                color: transparent;     
                background: url("img/letter-big.png");
                background-size: cover;
                background-repeat: repeat;
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            }
            p{
                font-size: 55px;
                margin-bottom: 5px;
            }
        }
    
          .roadmap-box-container{
            margin-top: 20px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            width: 100%;
          }
    
        .roadmap-box{
            padding: 0 50px;
            margin: 65px 60px;
            width: calc(33% - 20px);
            background: transparent;
            backdrop-filter: blur(5px);
            width: 560px;
            height: 265px;
            display: flex;
            flex-direction: column;
            justify-content: center !important;
            align-items: center !important;
            text-align: center;
            color: #fff;
            cursor: pointer;
            margin-top: 20px;
            border-radius: 10px;
    
            .line-box1{
                position: absolute;
                top: 257px;
                right: -46px;
                height: 37.5px;
            }
            .line-box2{
                position: absolute;
                top: 257px;
                right: 553.5px;
            }
            .line-box3{
                position: absolute;
                top: -28px;
                right: -46px;
            }
            .line-box4{
                position: absolute;
                top: -28px;
                right: 553.5px;
            }
    
            h2{
                font-size: 25px !important;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                margin-bottom: 20px;
                color: transparent;     
                background: url("img/letter-big.png");
                background-size: cover;
                background-repeat: repeat;
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            }
            p{
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 18px;
                color: var(--primary-color);
            }
        }
    }
    
    .roadmap-box::before {
        content: "";
        position: absolute;
        inset: 0 !important;
        border-radius: 19px; 
        padding: 3px; 
        background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%) !important;            
        -webkit-mask: 
           linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
           linear-gradient(rgb(0, 0, 0) 0 0) !important;
        -webkit-mask-composite: xor !important;
                mask-composite: exclude !important; 
      }
    
    .roadmap-box:hover {
        color: rgb(0, 0, 0) !important;
        background: linear-gradient(90.75deg, #76EA90 0%, #FDFD55 100%) !important;       
    
        p{
            color: rgb(0, 0, 0);
        }
        h2{
            color: transparent;     
            background: rgb(0, 0, 0);
            background-repeat: repeat;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
        }
    }
    
}


@media(max-width:780px){
 .roadmap-box{
        padding: 0 50px;
        margin: 50px 0px !important;

        .line-box1{
            display: none;
        }
        .line-box2{
            display: none;
        }
        .line-box3{
            display: none;
        }
        .line-box4{
            display: none;
        }

        h2{
            font-size: 20px !important;
            font-weight: 700;
            color: var(--primary-color) ;
        }
        p{
            font-weight: 600;
            font-size: 15px !important;
            color: var(--primary-color);
        }
    }
    .title-roadmap{
        
        h1{
            font-size: 40px;
        }
        p{
            font-size: 35px;
            margin-bottom: 10px;
        }
    }
}


@media(max-width:470px){
    .roadmap-box{
        padding: 40px 30px !important;
        margin: 20px 0px !important;
        height: auto !important;

        h2{
            font-size: 18px !important;
        }
        p{
            font-size: 14px !important;
        }
    }
    .title-roadmap{
        
        h1{
            font-size: 30px !important;
        }
        p{
            font-size: 30px !important; 
            margin-top: 2px;
        }
    }
}

@media(max-width:350px){
    .roadmap-box{
        padding: 40px 20px !important;
        margin: 20px 0px !important;

        h2{
            font-size: 15px !important;
        }
        p{
            font-size: 12px !important;
        }
    }
}

