.social-platform {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    font-family: 'Poppins', sans-serif;
    margin-top: -120px;


    .social-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

      .social-box-container{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 100%;
      }

    .box-social-media{
      box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
        padding: 0 20px;
        margin: 0 20px;
        width: calc(33% - 20px);
        background: linear-gradient(97.63deg, #76EA90 0%, #FDFD55 100.18%);
        backdrop-filter: blur(5px);
        width: 605px;
        height: 560px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        color: #fff;
        cursor: pointer;
        border-radius: 20px;
        
        h2{
          color: rgb(0, 0, 0);
          font-size: 30px;
          line-height: 52.5px;
          width: 300px;
          text-align: left;
          font-weight: 700;
          margin-bottom: 5x;
        }
    }
    .box-social-media2{
        box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
          padding: 0 10px !important;
          margin: 0 20px;
          width: calc(33% - 20px);
          background: linear-gradient(97.63deg, #76EA90 0%, #FDFD55 100.18%);
          backdrop-filter: blur(5px);
          width: 605px;
          height: 564px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #fff;
          cursor: pointer;
          border-radius: 20px;

          
          h2{
            color: rgb(0, 0, 0);
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 20px;
            width: 340px;
            text-align: left;
            margin-left: -175px;
            margin-bottom: 50px;
            margin-top: 50px;
            line-height: 52.5px;
          }
          .six{
            width: 220px;
            margin-left: 25px;
            margin-right: 18px;
            margin-bottom: 20.5px;
          }
    }
}

.box-social-media:hover{
    filter: drop-shadow(0px 2px 5px #76EA90);
}
.box-social-media2:hover{
    filter: drop-shadow(0px 2px 5px #76EA90);
}


@media(max-width:1390px){
    .box-social-media2{
        margin-bottom: 50px !important;
    }
}

@media(max-width: 1020px){

.box-social-media2{
      padding: 0 20px !important;
      margin: 0 20px;
      width: 605px;
      height: 564px;
      
      h2{
        font-size: 30px !important;
        width: 250px;
        text-align: center !important;
        margin-left: 0px !important;
        margin-bottom: 50px;
      }
      .social-media-img{
        margin-left: 0px !important;
        padding: 0px 0px !important;
        margin-bottom: 30px !important;
      }
  }
}

@media(max-width:770px){

.social-platform{
    padding: 0px 20px !important;
}
    
.box-social-media{
    width: auto ;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content:center;

    img{
        width: 400px;
    }
    h2{
      margin-top: 50px;
      font-size: 30px !important;
    }
}

.box-social-media2{
    width: auto;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
    h2{
      font-size: 30px !important;
      width: 250px;
      text-align: center !important;
      margin-left: 0px !important;
      margin-bottom: 20px !important;
    }
    .social-media-img{
        img{
            width: 110px;
        }
        .six{
          width: 170px;
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }
}

@media(max-width:530px){
    .box-social-media{
        height: auto !important;

        h2{
            font-size: 20px !important;
            text-align: center !important;
            line-height: 30px !important;

        }
    
        img{
            width: 322px !important;
        }
    }
    .box-social-media2{
        
        h2{
          font-size: 20px !important;
          width: 250px;
          text-align: center !important;
          margin-left: 0px !important;
          margin-bottom: 50px;
          line-height: 30px !important;

        }
        .social-media-img{
            img{
                width: 80px;
            }
            .six{
              width: 130px;
              margin-bottom: 12.7px;
            }
        }
    }
}

@media(max-width:377px){
    .box-social-media{
        height: auto !important;
    
        img{
            width: 320px !important;
        }
    }
    .box-social-media2{
        
        h2{
          font-size: 20px !important;
          width: 250px;
          text-align: center !important;
          margin-left: 0px !important;
          margin-bottom: 50px;
        }
        .social-media-img{
            img{
                width: 60px;
            }
            .six{
              width: 100px;
              margin-bottom: 10px;
            }
        }
    }
}

@media(max-width:330px){
    .box-social-media{
        height: auto !important;
        img{
            width: 350px !important;
        }
    }
}





