//* SOCIAL PLATFORM SCSS SECTION  *//

.social-platform-section{
  
  .title-social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
  h1{
    font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif;
    font-weight: 700;
    font-size: 44.5631px;
    line-height: 55px;
    letter-spacing: -0.04em;
    color: #ffff;
    width: 627px;

  }
}

.allplatformsmaindiv{
  padding-bottom: 100px;
}
.allplatformsmaindiv .allplatformsdiv .titleallplatform{
  width: 100%;
  margin-bottom: 80px;
}
.allplatformsmaindiv .allplatformsdiv .titleallplatform p{
  margin-bottom: 0;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.625px;
  text-transform: capitalize;
  color: #F6F6F7;
  max-width: 569px;
  margin: 0 auto;
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv{
  position: relative;
  width: 1281px;
  margin: 0 auto;
  height: 332px;
  display: flex;
  align-items: center;
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv .frameimg{
  position: absolute;
  width: 332px;
  left: calc(50% - 166px);
  margin-top: -7px;
  margin-left: 4px;
}
.owl-item.active.center img{
  transition: 0.5s all ease-in-out;
  transform: scale(1.55);
  margin-top: 22px;   
}
.owl-item.active.medium-left img,
.owl-item.active.medium-right img{
  transform: scale(1.2);   
}
.owl-carousel .owl-stage-outer .medium-left{
 position: relative;
 right: 40px;
}
.owl-carousel .owl-stage-outer .medium-right{
 position: relative;
 left: 40px;
}
.owl-carousel .owl-stage-outer{
  padding: 100px 0;
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv .overlaybg{
  position: unset;
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv .overlaybg .firstbg{
  position: absolute;
  width: 381px;
  height: 332px;
  left: -2px;
  top: 0;
  background: linear-gradient(90deg, #1F1A35 0%, rgba(29, 25, 50, 0) 100%);
  z-index: 1;
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv .overlaybg .secondbg{
  position: absolute;
  width: 381px;
  height: 332px;
  right: -2px;
  top: 0vw;
  background: linear-gradient(90deg, #1F1A35 0%, rgba(29, 25, 50, 0) 100%);
  z-index: 1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}



@media(max-width:1030px){
  .allplatformsmaindiv .allplatformsdiv .iconscrollingdiv{
    width: 100vw;
  }
  .allplatformsmaindiv .allplatformsdiv .iconscrollingdiv .frameimg{
    width: 25.333vw;
    left: calc(63.5% - 26.667vw);
}
}

@media(max-width:940px){
  .owl-item.active.center img{
    margin-top: 12px;   
  }
}


@media(max-width: 767px)
{

.mainsection{
  margin-top: 50px;
}

.allplatformsmaindiv .allplatformsdiv .titleallplatform{
  margin-bottom: 23.2vw;
}
.allplatformsmaindiv .allplatformsdiv .titleallplatform p{
  font-size: 12.8vw;
  line-height: 14.933vw;
  text-align: left;
  padding-left: 0vw;
  max-width: 82.4vw;
  margin-left: 6.933vw;
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv{
  width: 100vw;
  height: 53.333vw;
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv .frameimg{
  width: 53.333vw;
  left: calc(50% - 26.667vw);
  margin-left: 0px;

}
.owl-item.active.center img{
  transition: 0.5s all ease-in-out;
    transform: scale(0.8);
  margin-top: 12px !important;   
}
.allplatformsmaindiv .owl-item.medium-left img, 
.allplatformsmaindiv .owl-item.medium-right img{
  transform: scale(0.5);
}
.owl-carousel .owl-stage-outer .medium-right{
  position: relative;
    left: 0;
}
.owl-carousel .owl-stage-outer .medium-left {
    position: relative;
    right: 0vw;
}
.owl-carousel .owl-stage-outer{
      padding: 4.8vw 0;
}
.allplatformsmaindiv{
  margin-bottom: 0;
  padding-bottom: 23.2vw;
  background: radial-gradient(33.067vw 26.667vw at 51% 58%, rgba(181, 152, 255, 0.3) 0%, rgba(31, 26, 53, 0) 100%);
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv .overlaybg .firstbg{
  position: absolute;
  width: 11vw;
  height: 53.333vw;
  left: -43.733vw;
  top: 0vw;
  background: linear-gradient(90deg, #1F1A35 0%, rgba(29, 25, 50, 0) 100%);
}
.allplatformsmaindiv .allplatformsdiv .iconscrollingdiv .overlaybg .secondbg{
  position: absolute;
  width: 11vw;
  height: 53.333vw;
  right: -43.733vw;
  top: 0vw;
  background: linear-gradient(90deg, #1F1A35 0%, rgba(29, 25, 50, 0) 100%);
}
}


@media(max-width:650px){
  
.social-platform-section{
  
  h1{
    font-size: 24px;
    width: 62%;
    line-height: 40px;
    text-align: left;
    margin-left: -50px;
  }
 }
}


@media(max-width:380px){
  
  .social-platform-section{
    
    h1{
      font-size: 30px;
      width: 100%;
      line-height: 40px;
      margin-left: 50px;
  
    }
  }
}

@media(max-width: 340px)
{
.owl-item.active.center img{
  transition: 0.5s all ease-in-out;
    transform: scale(0.8);
  margin-top: 5px !important;   
}
.social-platform-section{
  
  h1{
    font-size: 25px;
    width: 100%;

  }
}
}
