.team {
    display: flex;
    height: 900px !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden !important;

    .team-box-container2{
      display: none;
    }

    .team-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .title-container-team{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .title-team{
        font-family: 'futura-bold', sans-serif !important;
        margin-bottom: 20px;
        font-weight: 600;
        text-align: center;
        font-size: 60px;
        color: transparent;     
        background: url("img/mid-text-color.png");
        background-repeat: repeat;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;  

    }

    .subtitle-team{
        color: var(--primary-color);
        font-weight: 500 !important;
        font-family: 'Space Grotesk', sans-serif !important;
        margin-bottom: 70px;
        font-size: 30px;
        width: 820px;
        text-align: center;
    }

      .team-box-container{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 100%;
        font-family: 'futura-bold', sans-serif !important;

      }

    .box-team1{
        padding: 0 20px;
        margin: 0 20px;
        width: calc(33% - 20px);
        background: transparent;
        width: 255px;
        height: 386px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 10px;

        .img-container{
            width: 229px;
            pointer-events: none;
        }

        .line-name{
            justify-content: left;
            align-items: left;
            display: flex;
            flex-direction: row;

            .line-down{
                height: 190px;
            }

            .name-role{
                margin-left: 20px;
                margin-top: 35px;
                text-align: left;

                h2{
                    color: var(--primary-color);
                    font-size: 25px !important;
                    margin-top: 60px;
                    margin-bottom: 2px;
                    font-weight: 500;
                    font-family: 'futura-bold', sans-serif;
                    letter-spacing: 0.5px;
                }
                
                p{
                    color: transparent;     
                    background: url("img/small-text-color.png");
                    background-repeat: repeat;
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color: transparent;  
                    margin-bottom: 5px;
                    margin-top: 5px;
                    font-family: 'futura-medium', sans-serif;
                    font-weight: 400;

                }
                .bxl-discord-alt{
                  color: var(--primary-color);
                  font-size: 30px;
                }
            }
        }

        .line-name2{
            justify-content: left;
            align-items: left;
            display: flex;
            flex-direction: row;

            .line-down{
                height: 190px;
            }

            .name-role{
                padding-bottom: 0px;
                margin-left: 20px;
                text-align: left;

                h2{
                  color: var(--primary-color);
                  margin-bottom: 2px;
                }
                p{
                    color: transparent;     
                    background: url("img/small-text-color.png");
                    background-repeat: repeat;
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color: transparent;  
                    margin-bottom: 2px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
                    font-weight: 200 !important;

                }
                .disc{
                  color: var(--primary-color);
                  font-size: 30px;
                }
            }
        }
    }


    .box-team2{
      padding: 0 20px;
      margin: 0 20px;
      width: calc(33% - 20px);
      background: transparent;
      width: 255px;
      height: 386px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 10px;

      .img-container{
        width: 229px;
        pointer-events: none;
      }

      .line-name2{
          justify-content: left;
          align-items: left;
          display: flex;
          flex-direction: row;

          .line-down{
              height: 190px;
          }

          .name-role{
              padding-bottom: 0px;
              margin-left: 20px;
              text-align: left;

              h2{
                color: var(--primary-color);
                margin-bottom: 2px;
                font-family: 'futura-bold', sans-serif;
                letter-spacing: 0.5px;
              }
              p{
                  color: transparent;     
                  background: url("img/small-text-color.png");
                  background-repeat: repeat;
                  -webkit-background-clip: text; 
                  -webkit-text-fill-color: transparent;  
                  margin-bottom: 2px;
                  margin-bottom: 5px;
                  margin-top: 5px;
                  font-family: 'futura-medium', sans-serif;
              }
              .disc{
                color: var(--primary-color);
                font-size: 30px;
              }
          }
      }
  }
    .box-team3{
      padding: 0 20px;
      margin: 0 20px;
      width: calc(33% - 20px);
      background: transparent;
      width: 255px;
      height: 386px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 10px;

      .img-container{
        width: 229px;
        pointer-events: none;
      }

      .line-name{
          justify-content: left;
          align-items: left;
          display: flex;
          flex-direction: row;

          .line-down{
              height: 190px;
          }

          .name-role{
              margin-left: 20px;
              margin-top: 35px;
              text-align: left;

              h2{
                  color: var(--primary-color);
                  font-size: 25px !important;
                  margin-top: 60px;
                  margin-bottom: 2px;
                  font-family: 'futura-bold', sans-serif;
                  letter-spacing: 0.5px;

                }
              
              p{
                  color: transparent;     
                  background: url("img/letter-big.png");
                  background-repeat: repeat;
                  background-size: cover;
                  -webkit-background-clip: text; 
                  -webkit-text-fill-color: transparent;  
                  margin-bottom: 2px;
                  margin-bottom: 5px;
                  margin-top: 5px;
                  font-family: 'futura-medium', sans-serif;

              }
              .bxl-discord-alt{
                color: var(--primary-color);
                font-size: 30px;
              }
          }
      }
  }
    .box-team4{
      padding: 0 20px;
      margin: 0 20px;
      width: calc(33% - 20px);
      background: transparent;
      width: 255px;
      height: 386px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 10px;

      .img-container{
        width: 229px;
        pointer-events: none;
      }

      .line-name2{
          justify-content: left;
          align-items: left;
          display: flex;
          flex-direction: row;

          .line-down{
              height: 190px;
          }

          .name-role{
              padding-bottom: 0px;
              margin-left: 20px;
              text-align: left;

              h2{
                color: var(--primary-color);
                margin-bottom: 2px;
                font-family: 'futura-bold', sans-serif;
                letter-spacing: 0.5px;
              }
              p{
                color: transparent;     
                background: url("img/small-text-color.png");
                background-repeat: repeat;
                background-size: cover;
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent;                    
                margin-bottom: 2px;
                margin-bottom: 5px;
                margin-top: 5px;
                font-family: 'futura-medium', sans-serif;

              }
              .disc{
                color: var(--primary-color);
                font-size: 30px;
              }
          }
      }
  }
    .box-team5{
      padding: 0 20px;
      margin: 0 20px;
      width: calc(33% - 20px);
      background: transparent;
      width: 255px;
      height: 386px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 10px;

      .img-container{
          width: 229px;
          pointer-events: none;
      }

      .line-name{
          justify-content: left;
          align-items: left;
          display: flex;
          flex-direction: row;

          .line-down{
              height: 190px;
          }

          .name-role{
              margin-left: 20px;
              margin-top: 35px;
              text-align: left;

              h2{
                color: var(--primary-color);
                font-size: 25px !important;
                  margin-top: 60px;
                  margin-bottom: 2px;
                  font-family: 'futura-bold', sans-serif;
                  letter-spacing: 0.5px;
              }
              
              p{
                color: transparent;     
                background: url("img/small-text-color.png");
                background-repeat: repeat;
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent;                  
                margin-bottom: 2px;
                margin-bottom: 5px;
                margin-top: 5px;
                font-family: 'futura-medium', sans-serif;

              }
              .bxl-discord-alt{
                color: var(--primary-color);
                font-size: 30px;
              }
          }
      }
  }
}

.box-team1:hover{
  transform: scale(1.1) !important;
}
.box-team2:hover{
  transform: scale(1.1) !important;
}
.box-team3:hover{
  transform: scale(1.1) !important;
}
.box-team4:hover{
  transform: scale(1.1) !important;
}
.box-team5:hover{
  transform: scale(1.1) !important;
}



@media(max-width:1800px){
    .team {

      .team-box-container2{
        display: none;
      }

      .title-team{
          font-size: 60px;
      }

      .subtitle-team{
          margin-bottom: 70px;
          font-size: 30px;
          width: 820px;
      }

      .box-team1{
          width: 223px;
          height: 386px;

          .img-container{
              width: 197px;
              pointer-events: none;
          }

          .line-name{

              .name-role{

                  h2{
                      font-size: 25px !important;
                  }
              }
          }

          .line-name2{

              .line-down{
                  height: 190px;
              }
          }
      }


      .box-team2{
        width: 223px;
        height: 386px;

        .img-container{
          width: 197px;
          pointer-events: none;
        }
    }
      .box-team3{
        width: 223px;
        height: 386px;

        .img-container{
          width: 197px;
          pointer-events: none;
        }

        .line-name{

            .line-down{
                height: 190px;
            }

            .name-role{

                h2{
                    color: var(--primary-color);
                    font-size: 25px !important;
                    margin-top: 60px;
                    margin-bottom: 2px;
                    font-family: 'futura-bold', sans-serif;
                    letter-spacing: 0.5px;

                  }
            }
        }
    }
      .box-team4{
        width: 223px;
        height: 386px;

        .img-container{
          width: 197px;
          pointer-events: none;
        }

        .line-name2{

            .line-down{
                height: 190px;
            }
        }
    }
      .box-team5{
        width: 223px;
        height: 386px;

        .img-container{
            width: 197px;
            pointer-events: none;
        }

        .line-name{

            .line-down{
                height: 190px;
            }
        }
    }
  }

}


@media(max-width:1440px){
  .team{
    height: auto !important;
  }
  .box-team{
    margin-bottom: 50px;
  }
  .team .box-team1{
    margin: 0px 0px;
    margin-bottom: 60px;
  }
  .team .box-team2{
    margin-bottom: 60px;
  }
  .team .box-team3{
    margin: 0px 0px;
    margin-bottom: 60px;
  }
  .team .box-team4{
    margin-bottom: 60px;
  }
  .team .box-team5{
    margin: 0px 0px;
    margin-bottom: 60px;
  }
}



@media(max-width:1220px){
  .team-box-container{
    padding: 0px 0px;
  }
}
@media(max-width:960px){

  .title-team{
    font-size: 50px !important;
    color: transparent;   
    text-align: center !important;   
  }
  .subtitle-team{
    margin-bottom: 70px;
    font-size: 25px !important;
    width: 90% !important;
    text-align: center !important;
  }
}
@media(max-width:800px){
  .team{
    padding-top: 100px !important;
    height: auto !important;
  }

}


@media(max-width:600px){
    .title-team{
      font-size: 30px !important;
  }

  .subtitle-team{
      font-size: 14px !important;
      width: 80%;
      text-align: center;
  }
  }
  


@media(max-width:500px){

  .team {
    height: 1700px !important;
    padding-top: 200px !important;


    .box-team{
        width: 410px !important;
        height: 386px;
    }
  }
  .team .box-team h2{
    font-size: 20px !important;
  }
}

@media(max-width:502px){
  .team{
    padding-top: 100px !important;
    height: auto !important;
  }
  .bxl-discord-alt{
    font-size: 25px !important;
  }

    //box3
    .team .box-team1 .img-container {
      width: 180px;
    }
    .team .box-team1{
      width: 260px;
    }
    .team .box-team1 .line-name .name-role h2{
      font-size: 17px !important;
    }
    .team .box-team1 .line-name .name-role p{
      font-size: 12px;
    }
    .team .box-team1 .line-name .name-role {
      margin-left: 10px;
      margin-top: 50px !important;
    }

  // box2
  .team .box-team2 .img-container {
    width: 180px
  }
  .team .box-team2 .line-name2{
    justify-content: right;
    width: 270px;
  }
  .team .box-team2{
    width: 260px;
  }
  .team .box-team2 .line-name2 .name-role {
    margin-left: 10px !important;
  }
  .team .box-team2 .line-name2 .name-role h2{
    font-size: 17px
  }
  .team .box-team2 .line-name2 .name-role p{
    font-size: 12px;
  }


  //box3
  .team .box-team3 .img-container {
    width: 180px;
  }
  .team .box-team3{
    width: 260px;
    margin-top: 50px !important;
  }
  .team .box-team3 .line-name .name-role h2{
    font-size: 17px !important;
  }
  .team .box-team3 .line-name .name-role p{
    font-size: 12px;
  }
  .team .box-team3 .line-name .name-role {
    margin-left: 10px;
    margin-top: 50px !important;
  }

  //box4
  .team .box-team4 .img-container {
    width: 180px !important;
  }
  .team .box-team4 {
    width: 260px;
  }
  .team .box-team4 .line-name2{
    justify-content: right !important;
    width: 300px;
  }
  .team .box-team4 .line-name2 .name-role{
    margin-left: 10px !important;
  }
  .team .box-team4 .line-name2 .name-role p{
    font-size: 12px !important;
  }
  .team .box-team4 .line-name2 .name-role h2{
    font-size: 17px;
  }


  // box 5
  .team .box-team5 .img-container {
    width: 180px;
  }
  .team .box-team5{
    width: 260px;
    margin-top: 50px;
  }
  .team .box-team5 .line-name .name-role h2{
    font-size: 17px !important;
  }
  .team .box-team5 .line-name .name-role p{
    font-size: 12px;
  }
  .team .box-team5 .line-name .name-role {
    margin-left: 10px;
    margin-top: 50px !important;
  }

}


@media(max-width:460px){
  .team .team-box-container{
    padding-right: 50px;
  }
}


@media(max-width:395px){
  .team .team-box-container{
    padding-right: 45px;
  }
}


@media(max-width:377px){
  .team{
    padding-top: 100px !important;
    height: auto !important;
    overflow-x: hidden !important;
  }
  .bxl-discord-alt{
    font-size: 22px !important;
  }




  // Box 1
  .team .box-team1 .img-container {
    width: 150px !important;
  }
  .team .box-team1 .line-name .line-down{
    height: 140px;
  }
  .team .box-team1{
    height: 250px;
  }
  .team .box-team1 .line-name .name-role {
    margin-top: 10px !important;
  }


  //box2
  .team .box-team2 .img-container {
    width: 150px !important;
  }
  .team .box-team2 .line-name2 .line-down{
      height: 140px !important;
  }
  .team .box-team2 .line-name2{
    justify-content: right;
    width: 230px;
  }
  .team .box-team2 .line-name2 .name-role h2{
    font-size: 15px
  }
  .team .box-team2{
    height: 250px;
  }

  //box3
  .team .box-team3 .img-container {
    width: 150px !important;
  }
  .team .box-team3 .line-name .line-down{
    height: 140px;
  }
  .team .box-team3{
    height: 250px;
    margin-top: 50px !important;
  }
  .team .box-team3 .line-name .name-role {
    margin-top: 10px !important;
  }


  //box4
  .team .box-team4 .img-container {
    width: 150px !important;
  }

  .team .box-team4 .line-name2 .line-down{
    height: 10px !important;
  }
  .team .box-team4 .line-name2{
    justify-content: right;
    width: 260px;
  }
  .line4{
    height: 140px !important;
  }
  .team .box-team4 .line-name2 .name-role h2{
    font-size: 15px
  }
  .team .box-team4{
    height: 250px;
  }


  //box5
  .team .box-team5 .img-container {
    width: 150px !important;
  }
  .team .box-team5 .line-name .name-role{
    margin-top: 5px !important;
  }
  .line5{
    height: 130px !important;
  }
  .team .box-team5{
    width: 260px;
    margin-top: -20px;
  }

}
