//* TERMS SCSS SECTION  *//

.terms-section{
    padding: 0px 280px;
    width: 100%;
    padding-top: 178px;
    height: auto;
    

    .title-terms{
        margin-bottom: 17px;

        h1{
            font-weight: 700 !important;
            font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
            font-size: 15px;
            color: transparent;     
            background: url("img/s-text.png");
            background-size: contain;
            background-repeat: no-repeat;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
        }

    }
    .terms-list{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px;

        h1{
            font-family: 'HelveticaNeue LT 93 BlackEx', sans-serif !important;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 22px;

        }
        p{
            color: rgba(195, 195, 195, 1);
            font-family: 'Space Grotesk', sans-serif !important;
            font-size: 15px;
            font-weight: 400 !important;
            line-height: 25.52px;
            
            a{
                color: rgba(151, 212, 105, 1);
            }

        }
    }
}

@media(max-width:1800px){
    .terms-section{
        padding: 0px 170px;
        padding-top: 178px;
    }
}

@media(max-width:980px){
    .terms-section{
        padding: 0px 100px;
        padding-top: 178px;
    }
}

@media(max-width:840px){
    .terms-section{
        padding: 0px 50px;
        padding-top: 178px;

        .terms-list{
    
            h1{
                font-size: 20px;
            }
            p{
                font-size: 14px;
    
            }
        }
    }
}

@media(max-width:580px){
    .terms-section{
        padding: 0px 20px;
        padding-top: 178px;

        .title-terms{
    
            h1{
                font-size: 14px;

            }
    
        }
        .terms-list{

    
            h1{
                font-size: 19px;
            }
            p{
                font-size: 12px;
    
            }
        }
    }
}

@media(max-width:400px){
    .terms-section{
        padding: 0px 20px;
        padding-top: 150px;

        .title-terms{
    
            h1{
                font-size: 12px;

            }
    
        }
        .terms-list{
    
            h1{
                font-size: 15px;
            }
        }
    }
}

