.top-creator-section {
    display: flex;
    height: auto;
    width: 100%;
    padding-top: 100px !important;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    background: transparent !important;

    .creator-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .top-creator{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .title-creator{
        margin-bottom: 20px;
        margin-right: 830px;
        font-family: 'futura-bold', sans-serif;
        font-size: 50px;
        color: transparent;     
        background: url("img/letter-color.png");
        background-repeat: repeat;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;    
    }

      .creator-box-container{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 100%;
      }

    .box-creator{
        width: calc(33% - 20px);
        width: 320px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 10px;

        img{
            width: 250px;
            pointer-events: none;
        }

        h2{
          color: rgba(255, 255, 255, 1);
          font-size: 25px !important;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}


@media(max-width:1360px){
    .title-creator{
        margin-bottom: 20px;
        margin-right: 590px !important;
        font-size: 40px !important;
    }
    .top-creator-section .box-creator{
        margin-bottom: 40px;
    }
}

@media(max-width:1060px){

    .top-creator{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        align-content: center;
        flex-direction: column;
        }
        .title-creator{
            margin-bottom: 0px !important;
            margin-right: 0px !important;
        }
        
        .top-creator-section .box-creator {
            width: 290px;
        }

    }


@media(max-width:600px){
    .title-creator{
      font-size: 30px !important;
      line-height: 40px;
  }
}
  
  
.card{
    border-radius: 10px;
    background-color: transparent !important;
    background: transparent !important;
    background-clip: none !important;
    border: 0px;

        img{
            width: 100%;
        }
  }
  

  @media (max-width: 2600px) {
    .creator-box-container2{
      display: none !important;
    }
  }
  
  @media (max-width: 911px) {

    .creator-box-container2{
        display: block !important;
        margin-top: 50px;
      }
    .creator-box-container{
      display: none !important;
    }
    
    .swiper{
      width: 350px;
      text-align: center;
    }
  }

  @media (max-width: 425px) {

    .card{
        backdrop-filter: blur(20px);    
        border-radius: 10px;
    
            img{
                width: 80%;
            }
      }

  }
  

  



