.trending-section {
    display: flex;
    height: auto;
    width: 100%;
    padding-top: 150px !important;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    background: transparent !important;

    .creator-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .top-trending{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .title-trending{
        margin-bottom: 150px;
        margin-right: 1120px;
        font-weight: 700 !important;
        font-family: 'futura-bold', sans-serif !important;        
        font-size: 55px;
        color: transparent;     
        background: url("img/letter-big.png");
        background-size: cover;
        background-repeat: repeat;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }

      .trending-box-container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 100px;

      }

    .box-trending{
        width: calc(33% - 20px);
        width: 365px;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 10px;

        video{
            width: 330px !important;
            height: auto !important;
            pointer-events: none;
            border-radius: 20px!important;
        }

        h2{
            color: rgba(255, 255, 255, 1);
            font-size: 25px !important;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}

.trending-box-container2{
    display: none !important;
}


@media(max-width:1800px){
    .trending-section {

        .title-trending{
            margin-bottom: 150px;
            margin-right: 965px;    
            font-size: 50px;

        }
    
        .box-trending{
            width: 320px;
            height: 320px;
            display: flex;
            margin-top: 20px;
    
            video{
                width: 290px !important;
                height: auto !important;
            }
    
            h2{
                font-size: 25px !important;
                margin-top: 40px;
                margin-bottom: 20px;
            }
        }
    }
    
    .trending-box-container2{
        display: none !important;
    }
}

@media(max-width:1380px){
    .title-trending{
        margin-right: 700px !important;
        font-size: 40px !important;
    }
    .title-trending{
        margin-bottom: 50px !important;
    }

    .box-trending{
        margin-top: 130px !important;
        margin-bottom: 100px !important;

        video{
            width: 220px !important;
            pointer-events: none;
        }
    }
    .trending-section .trending-box-container{
        margin-bottom: 0px;
    }
}


@media(max-width:1055px){

    .top-trenidng{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        align-content: center;
        flex-direction: column;
        }
        .title-trending{
            margin-bottom: 0px !important;
            margin-right: 0px !important;
        }

        .trending-section .box-trending {
            width: 320px;
        }
        .title-trending{
            margin-bottom: 50px !important;
        }
        .trending-section .trending-box-container{
            margin-bottom: 0px;
        }

    }


@media(max-width:600px){
    .title-trending{
      font-size: 30px !important;
      line-height: 40px;
  }
}
  
  
.card{
    border-radius: 10px;
    background-color: transparent !important;
    background: transparent !important;
    background-clip: none !important;
    border: 0px;

        img{
            width: 100%;
        }
  }
  
  
  @media (max-width: 911px) {

    .trending-box-container2{
        display: block !important;
        margin-top: 50px;

        video{
            width: 325px !important;
            border-radius: 20px !important;
        }
      }
    .trending-box-container{
      display: none !important;
    }
    
    .swiper{
      width: 350px;
      text-align: center;
    }
    .title-trending{
        margin-bottom: 10px !important;
    }
  }

  @media (max-width: 425px) {

    .card{
        backdrop-filter: blur(20px);    
        border-radius: 10px;
    
            video{
                width: 80% !important;
            }
      }

  }
  

  



