
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: var(--secondary-color);
    color: var(--secondary-color);
}

.home{
    background-image: var(--bg-home-primary--);
}

:root{
    --primary-color: #cdcdcd !important;
    --secondary-color: #000000 !important;
    --border-color:linear-gradient(90deg, #76EA90 -0.07%, #FDFD55 100.07%) ;
    --bg-home-primary--: url("img/bg-home.png");
    --bg-home-secondary--: url("img/bg-dark.png");
    overflow-x: hidden ;
 }
.dark-theme{
    --primary-color: rgba(0, 0, 0, 1);
    --secondary-color: rgb(209, 209, 209);
}

@font-face {
    font-family: 'futura';
    src: url(futur.ttf);
}
@font-face {
    font-family: 'futura-bold';
    src: url(Futura-bold.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    }
    
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(7, 7, 7); 
    border-radius: 10px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(90.04deg, #76EA90 0%, #FDFD55 100%);
    border-radius: 10px;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90.04deg, #76EA90 0%, #FDFD55 100%);
    filter: blur(10px);
    transition: all .50s;
}



@import "scss/navbar";
@import "scss/home-section";
@import "scss/count";
@import "scss/top-creator";
@import "scss/trending-section";
@import "scss/features-section";
@import "scss/pricing-section";
@import "scss/faq-section";
@import "scss/community";
@import "scss/team-section";
@import "scss/convert-box";
@import "scss/faqs-question";
@import "scss/roadmap";
@import "scss/footer";